<header class="m-3">
    <div>
        <h1 class="text-center">{{name}}</h1>
        <div>
            <time>
                <em>{{birthdate}} - {{deathdate}}</em>
            </time>
        </div>
        <div>
            <br>
            <p>Place of birth: <em>{{birthplace}}</em></p>
            <p>Place of death: <em>{{deathplace}}</em></p>
            <p>Nationality: <em>{{nationality}}</em></p>
        </div>
    </div>
</header>

<div class="my-4">
    <hr>
</div>

<main class="m-3">
    <div>
        <center>
            <h2>Biography</h2>
        </center>
        <div>
            Occupation:
            <b>{{occupation}}</b>
            <p>Known for: {{known_for}}</p>
        </div>
        <div>
            <b>Educations:</b>
            <div>
                <ul>
                    {{#each education}}
                    <li>
                        <div>
                            {{degree}},
                            {{field}},
                            {{institution}},
                            <time>({{year}})</time>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <br>

        <div>
            <b>Notable publications:</b>
            <div>
                <ul>
                    {{#each notable_publications}}
                    <li>
                        <p>"{{title}}"</p>
                        <time>({{year}})</time>
                        <p>Publisher: {{publisher}}</p>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <br>

        <div>
            <b>Partners:</b>
            <div>
                <ul>
                    {{#each partners}}
                    <li>
                        <p>
                            {{name}},
                            {{relationship}},
                            <time>({{years}})</time>
                        </p>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div>
            <b>Awards:</b>
            <div>
                <ul>
                    {{#each awards}}
                    <li>
                        <p>
                            {{title}},
                            {{description}},
                            <time>({{year}})</time>
                        </p>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</main>