<header>
    <div>
        <center>
            <h1>
                <span class="badge text-bg-primary">
                    <h1>{{name}}</h1>
                </span>
            </h1>
        </center>
    </div>
</header>

<hr>
<br>

<main>
    <div>
        <div>
            <h2>users</h2>
        </div>
        <section>
            <div>
                <ul>
                    {{#each users}}
                    <li>
                        <strong>
                            <p>{{name}}</p>
                        </strong>
                        <p>{{id}}</p>
                        <p>{{gender}}</p>
                        <p>{{age}}</p>
                        <div>
                            <ul>
                                {{#each friends}}
                                <li>
                                    <strong>
                                        <p>{{name}}</p>
                                    </strong>
                                    <p>{{id}}</p>
                                    <p>{{gender}}</p>
                                    <p>{{age}}</p>
                                    {{#if mutual_friends}}
                                    <ul>
                                        {{#each mutual_friends}}
                                        <li>
                                            <strong>
                                                <p>{{name}}</p>
                                            </strong>
                                            <p>{{id}}</p>
                                            <p>{{gender}}</p>
                                            <p>{{age}}</p>
                                            {{#if mutual_friends}}
                                            <ul>
                                                {{#each mutual_friends}}
                                                <li>
                                                    <strong>
                                                        <p>{{name}}</p>
                                                    </strong>
                                                    <p>{{id}}</p>
                                                    <p>{{gender}}</p>
                                                    <p>{{age}}</p>
                                                </li>
                                                {{/each}}
                                            </ul>
                                            {{/if}}
                                        </li>
                                        {{/each}}
                                        <ul>
                                            {{#each groups}}
                                            <li>
                                                <strong>
                                                    <p>{{name}}</p>
                                                </strong>
                                                <p>{{id}}</p>
                                                <p>{{description}}</p>
                                                <ul>
                                                    {{#each members}}
                                                    <li>
                                                        <strong>
                                                            <p>{{name}}</p>
                                                        </strong>
                                                        <p>{{id}}</p>
                                                        <p>{{gender}}</p>
                                                        <p>{{age}}</p>
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </li>
                                            {{/each}}
                                        </ul>
                                        {{/if}}
                                    </ul>
                                </li>
                                {{/each}}
                            </ul>
                        </div>



                        <div>
                            <ul>
                                {{#each groups}}
                                <li>
                                    <strong>
                                        <p>{{name}}</p>
                                    </strong>
                                    <p>{{id}}</p>
                                    <p>{{description}}</p>
                                    <ul>
                                        {{#each members}}
                                        <li>
                                            <strong>
                                                <p>{{name}}</p>
                                            </strong>
                                            <p>{{id}}</p>
                                            <p>{{gender}}</p>
                                            <p>{{age}}</p>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>
    </div>
</main>