<header c>
    <div>
        <center>
            <h1>{{name}}</h1>
        </center>
    </div>
</header>

<div class="mb-5">
    <hr>
</div>

<main class="row m-3">
    <div>
        <h2>{{description}}</h2>
        <b>Founder {{history.founder}} (<time>{{history.year}} year)</time></b>
    </div>

    <div class="my-5">
        <hr>
    </div>

    <div>
        <div class="text-center m-3">
            <strong class="display-6">Types</strong>
        </div>
        <ul>
            {{#each types}}
            <span class="badge text-bg-primary">
                <li>{{this}}</li>
            </span>
            {{/each}}
        </ul>
    </div>

    <div>
        <div class="text-center m-3">
            <strong class="display-6">Syntax</strong>
        </div>
        <div>
            {{#with syntax}}
            variables
            <ul>
                {{#each variables}}
                <span class="badge text-bg-secondary">
                    <li>{{this}}</li>
                </span>
                {{/each}}
            </ul>
            functions
            <ul>
                {{#each functions}}
                <span class="badge text-bg-secondary">
                    <li>{{this}}</li>
                </span>
                {{/each}}
            </ul>
            conditionals
            <ul>
                {{#each conditionals}}
                <span class="badge text-bg-secondary">
                    <li>{{this}}</li>
                </span>
                {{/each}}
            </ul>
            loops
            <ul>
                {{#each loops}}
                <span class="badge text-bg-secondary">
                    <li>{{this}}</li>
                </span>
                {{/each}}
            </ul>
            classes
            <ul>
                {{#each classes}}
                <span class="badge text-bg-secondary">
                    <li>{{this}}</li>
                </span>
                {{/each}}
            </ul>
            {{/with}}
        </div>
    </div>

    <div>
        <div class="text-center m-3">
            <strong class="display-6">Features</strong>
        </div>
        <div>
            <ul>
                {{#each features}}
                <br>
                <span class="badge text-bg-success">
                    <li>{{this}}</li>
                </span>
                {{/each}}
            </ul>
        </div>
    </div>

    <div>
        <div class="text-center m-3">
            <strong class="display-6">Libraries</strong>
        </div>
        <div>
            <ul>
                {{#each libraries}}
                <br>
                <span class="badge text-bg-danger">
                    <li>{{this}}</li>
                </span>
                {{/each}}
            </ul>
        </div>
    </div>

    <div>
        <div class="text-center m-3">
            <strong class="display-6">Tools</strong>
        </div>
        <div>
            <ul>
                {{#each tools}}
                <br>
                <span class="badge text-bg-warning">
                    <li>{{this}}</li>
                </span>
                {{/each}}
            </ul>
        </div>
    </div>

    <div>
        <div class="text-center m-3">
            <strong class="display-6">Community</strong>
        </div>
        <div>
            <ul>
                {{#each community}}
                <br>
                <span class="badge text-bg-warning">
                    <li>{{name}} ({{type}})</li>
                </span>
                {{/each}}
            </ul>
        </div>
    </div>
</main>