<main class="row m-2">

    <header>
        {{>headerhome}}

        <h1 class="ms-2 mt-4">{{header}}</h1>
        {{#with purchase}}
        <div>

            <div class="nav nav-tabs mb-4">
                {{#each tabs}}
                <div class="nav-item col-3">
                    <div class="nav-link">{{this}}</div>
                </div>
                {{/each}}
            </div>

            {{#with actionBlock}}
            <div class="row mt-4">
                <div class="col-3">
                    <input class="form-control" placeholder="{{input.placeholder}}">
                </div>
                {{#each buttons}}
                <div class="col-2 ms-4 ">
                    <a href="{{link}}"
                        class="btn btn-{{#if isSuccess}}success{{/if}}{{#if isOutline}}outline-success{{/if}}{{#if isDanger}}outline-danger{{/if}}">
                        {{text}}
                    </a>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </div>
    </header>

    <div class="mt-2 mb-4">
        <hr>
    </div>

    <section>
        {{#each itemList}}
        {{>purchaseItem}}
        {{/each}}
    </section>
    {{/with}}

    <section>
        {{#with userInfo}}
        <h2 class="display-5">{{title}}</h2>
        <div class="card">
            {{#with profileData}}
            <div class="card-body px-2">
                <div class="card-title display-6">
                    {{title}}
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            {{#with fullName}}
                            <div class="col-4">
                                {{#with surname}}
                                <div>{{title}}</div>
                                <strong>{{value}}</strong>
                                {{/with}}
                            </div>

                            <div class="col-4">
                                {{#with name}}
                                <div>{{title}}</div>
                                <strong>{{value}}</strong>
                                {{/with}}
                            </div>

                            <div class="col-4">
                                {{#with middleName}}
                                <div>{{title}}</div>
                                <strong>{{value}}</strong>
                                {{/with}}
                            </div>
                            {{/with}}
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            {{#with otherInfo}}
                            <div class="col-4">
                                {{#with birthday}}
                                <div>{{title}}</div>
                                <strong>{{value}}</strong>
                                {{/with}}
                            </div>

                            <div class="col-4">
                                {{#with sex}}
                                <div>{{title}}</div>
                                <strong>{{value}}</strong>
                                {{/with}}
                            </div>

                            <div class="col-4">
                                {{#with language}}
                                <div>{{title}}</div>
                                <strong>{{value}}</strong>
                                {{/with}}
                            </div>
                            {{/with}}
                        </div>
                    </div>
                </div>
                {{/with}}
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            {{#each buttons}}
                            <div class="col-4">
                                <a href="{{link}}"
                                    class="btn btn-{{#if isPrimary}}primary{{/if}}{{#if isSecondary}}outline-secondary{{/if}}{{#if isDanger}}outline-danger{{/if}}">
                                    {{text}}
                                </a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </section>

    <footer class="row">
        {{>footerLink}}
    </footer>
</main>