<main class="m-3">
    <header class="row">
        <div class="pe-3">
            {{#with navigation}}
            <nav class="col-6">
                <div class="nav">
                    {{#each links}}
                    <div class="nav-item mx-4">
                        <a href="{{href}}" class="nav-link {{#unless href}}disabled{{/unless}}">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            </nav>
            {{/with}}
        </div>
    </header>

    <div>
        <hr>
    </div>

    <section>
        <div>
            <h1 class="ms-5 mb-3">{{header}}</h1>
        </div>

        <div class="row">
            <div class="col-9">
                <div class="card m-2">
                    <div class="col-12">
                        <div class="card-body">
                            {{#with contacts_data}}
                            <div>

                                <div class="card-title display-6 ms-3">{{title}}</div>
                                <div>
                                    {{#each buttons}}
                                    <button
                                        class="btn {{#if isPrimary}}btn-warning{{/if}} {{#if isOutline}}btn-outline-warning{{/if}} col-3 m-3">{{text}}</button>
                                    {{/each}}
                                </div>

                            </div>

                            <div class="row">
                                {{#with form}}
                                {{#with input}}
                                <div class="col-6">
                                    {{#with surname}}
                                    <label class="form-label">{{label}}</label>
                                    <input class="form-control" placeholder="{{placeholder}}">
                                    <div class="form-text">{{caption}}</div>
                                    {{/with}}
                                </div>
                                <div class="col-6">
                                    {{#with name}}
                                    <label class="form-label">{{label}}</label>
                                    <input class="form-control" placeholder="{{placeholder}}">
                                    <div class="form-text">{{caption}}</div>
                                    {{/with}}
                                </div>
                                <div class="col-6">
                                    {{#with phone}}
                                    <label class="form-label">{{label}}</label>
                                    <input class="form-control" placeholder="{{placeholder}}">
                                    <div class="form-text">{{caption}}</div>
                                    {{/with}}
                                </div>
                                <div class="col-6">
                                    {{#with email}}
                                    <label class="form-label">{{label}}</label>
                                    <input class="form-control" placeholder="{{placeholder}}">
                                    <div class="form-text">{{caption}}</div>
                                    {{/with}}
                                </div>
                                {{/with}}

                                <div class="mt-1 mb-1">
                                    <hr>
                                </div>

                                <div class="mt-5">
                                    {{#each switch}}
                                    <div class="form-check form-switch form-select-lg ">
                                        <input name="info" type="checkbox" class="form-check-input" {{#if
                                            isActive}}checked{{/if}}>
                                        <div class="form-check-label">{{text}}</div>
                                    </div>
                                    {{/each}}
                                </div>
                                {{/with}}
                            </div>
                            {{/with}}
                        </div>
                    </div>

                    <div class="mt-5 mb-3">
                        <hr>
                    </div>

                    <div class="m-3">
                        {{#with delivery}}
                        <div class="form-label display-6 ms-4 mb-3">{{title}}</div>
                        <div class="card m-2">
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="row">
                                        {{#each select}}
                                        <div class="col-6">
                                            <label class="form-label">{{label}}</label>
                                            <select class="form-select form-select-sm">
                                                <option selected>{{placeholder}}</option>
                                                {{#each options}}
                                                <option value="{{value}}">{{text}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row col-5 ms-2 mt-3">
                            {{#each delivery_type}}
                            <div class="form-check">
                                <label class="form-check-label">{{type}}</label>
                                <input name="delivery" type="radio" class="form-check-input">
                            </div>
                            {{/each}}
                        </div>

                        <div class="mt-5 mb-5">
                            <hr>
                        </div>

                        <div class="row col-5 ms-2">
                            {{#with payment}}
                            <div class="form-label display-6">
                                {{title}}
                            </div>
                            {{#each list}}
                            <div class="form-check">
                                <label class="form-check-label">{{type}}</label>
                                <input name="delivery" type="radio" class="form-check-input">
                                <div class="form-text">{{description}}</div>
                            </div>
                            {{/each}}
                            {{/with}}
                        </div>

                        <div class="mt-5 mb-5">
                            <hr>
                        </div>

                        <div class="row ms-2">
                            {{#with contact}}
                            <div class="form-label display-6  mb-3">{{title}}</div>
                            <div class="col-6 mt-2 mb-2">
                                {{#with surname}}
                                <label class="form-label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                                <div class="form-text">{{caption}}</div>
                                {{/with}}
                            </div>
                            <div class="col-6 mt-2 mb-2">
                                {{#with name}}
                                <label class="form-label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                                <div class="form-text">{{caption}}</div>
                                {{/with}}
                            </div>
                            <div class="col-6 mt-2 mb-2">
                                {{#with phone}}
                                <label class="form-label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                                <div class="form-text">{{caption}}</div>
                                {{/with}}
                            </div>
                            <div class="col-6 mt-2 mb-2">
                                {{#with email}}
                                <label class="form-label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                                <div class="form-text">{{caption}}</div>
                                {{/with}}
                            </div>
                            {{/with}}
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    {{#each action_block}}
                    <div class="card-body">
                        <button
                            class="btn btn-{{#if isSuccess}}success{{/if}}{{#if isDanger}}danger{{/if}}{{#if isInfo}}info{{/if}} col-12">
                            {{text}}
                        </button>
                    </div>
                    {{/each}}
                </div>
                <div class="col-12">
                    <div class="card mt-3">
                        {{#with total}}
                        <div class="card-body">
                            <p class="card-title display-6">{{title}}</p>
                            <ul class="list-group list-group-flush ">
                                {{#each item_list}}
                                <li class="list-group-item text-bg-dark">
                                    {{name}}: {{price}}
                                </li>
                                {{/each}}
                            </ul>

                            <hr>

                            <ul class="list-group list-group-flush ">
                                {{#each additional_info}}
                                <li class="list-group-item text-bg-dark">
                                    {{text}}: {{value}}
                                </li>
                                {{/each}}
                            </ul>

                            <hr>

                            {{#with total_price}}
                            <div>{{text}}:{{value}}</div>
                            {{/with}}
                        </div>

                        <div class="card-header">
                            {{#each button}}
                            <div class="mt-3">
                                <button
                                    class="btn btn-{{#if isPrimary}}primary{{/if}}{{#if isOutline}}outline-primary{{/if}}">{{text}}</button>
                                {{/each}}
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="row">
        {{>footerLink}}
    </footer>
</main>