<main>
    <header class="text-center">
        <h1>{{page_header.title}}</h1>
        <p>{{page_header.description}}</p>
    </header>
    <section>
        {{#with section}}
        <div class="card">
            <div class="card-body">
                <div class="display-6 text-end">{{about_us.about_us.main}}</div>
                <h2 class="text-end">{{about_us.about_us.sub}}</h2>

                <br>
                <br>

                <div>
                    <button class="btn btn-outline-info">{{about_us.button.text}}</button>
                </div>

                <br>

                <section>
                    {{#with advantage}}
                    <div class="card">
                        <div class="card-body">
                            <div class="display-5">{{title}}</div>

                            <br>

                            <article>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="display-4">{{efficiency.title}}</div>
                                        <br>
                                        <h6>{{efficiency.sub_title}}</h6>
                                        <br>
                                        <p>{{efficiency.description}}</p>
                                        <br>
                                        <div>
                                            <button class="btn btn-outline-warning">{{efficiency.button}}</button>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <br>

                            <article>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="display-4 text-center">{{innovation.title}}</div>
                                        <br>
                                        <h6 class="text-center">{{innovation.sub_title}}</h6>
                                        <br>
                                        <p class="text-center">{{innovation.description}}</p>
                                        <br>
                                        <div>
                                            <button class="btn btn-outline-warning">{{innovation.button}}</button>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <br>

                            <article>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="display-4 text-end">{{collaboration.title}}</div>
                                        <br>
                                        <h6 class="text-end">{{collaboration.sub_title}}</h6>
                                        <br>
                                        <p class="text-end">{{collaboration.description}}</p>
                                        <br>
                                        <div>
                                            <button class="btn btn-outline-warning">{{collaboration.button}}</button>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    {{/with}}
                </section>

                <br>

                <section>
                    {{#with agreement}}
                    <div class="card">
                        <div class="card-body">
                            <div class="display-5">{{title}}</div>

                            <br>

                            <article>
                                {{#with info}}
                                <div class="card">
                                    <div class="card-body">
                                        <h5>{{sub_title}}</h5>

                                        <br>

                                        <div class="card">
                                            <div class="card-body">
                                                <p>{{detail.text}}</p>
                                                <br>
                                                <button class="btn btn-success">{{detail.button}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/with}}
                            </article>
                        </div>
                    </div>
                    {{/with}}
                </section>
            </div>
        </div>
        {{/with}}
    </section>

</main>