<div>
    {{#with main}}
    <main>
        <section>
            {{>title data="Work history" big=true}}
            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <div>
                            <b>{{position}}</b>
                        </div>

                        <br>

                        <div>{{duration.from}} -
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (досі працюємо)
                            {{/if}}
                        </div>

                        <br>

                        <div>{{#if company.url}}
                            {{>link text=company.name href=company.url blank=true notLine=true }}
                            {{else}}
                            <b>{{company.name}}</b>
                            {{/if}}
                        </div>

                        <br>
                        <br>

                        <div><strong>Projects ({{projectAmount}})</strong></div>

                        <br>

                        <ul>
                            {{#each projects}}
                            <li>
                                <div>
                                    {{>link text=name href=url blank=true noLine=true }}
                                </div>

                                <br>

                                <div>
                                    <p>{{about}}</p>
                                </div>

                                <br>

                                <em>Project stacks({{stackAmount}})</em>

                                <br>

                                <div>
                                    <ul>
                                        {{#each stacks}}
                                        <li>{{name}}</li>
                                        {{/each}}
                                    </ul>
                                </div>

                                <br>

                                <em>Project awards</em>

                                <div>
                                    <ul>
                                        {{#each awards}}
                                        <li>{{name}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <br>
                    {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/with}}
</div>