{{#each footer}}
<nav class="col-2">
    <div class="nav">
        <div class="nav-item">
            {{#each this}}
            <div>
                {{#if @last}}
                <a href="{{link}}" class="nav-link disabled">{{text}}</a>
                {{else}}
                <a href="{{link}}" class="nav-link">{{text}}</a>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
</nav>
{{/each}}